<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tfxing.dataStructure.dao.PersonMapper">

    <select id="list" resultType="com.tfxing.dataStructure.entity.Person">
        select * from t_person;
    </select>
</mapper>
